/* Pengaturan tampilan body agar form berada di tengah halaman */
.form-login-register {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Pengaturan container form login dan register */
.login-register-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    /* Lebar form seragam untuk login dan register */
    max-width: 100%;
}

/* Pengaturan judul form */
.login-register-container h1 {
    margin-bottom: 20px;
    text-align: center;
}

/* Pengaturan input text dan password */
.login-register-container input[type="text"],
.login-register-container input[type="password"],
.login-register-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Pengaturan tombol submit dan reset */
.login-register-container input[type="submit"],
.login-register-container input[type="reset"] {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--warna-5);
    color: var(--warna-2);
    cursor: pointer;
    margin-top: 10px;
}

/* Pengaturan warna tombol reset */
.login-register-container input[type="reset"] {
    background-color: #f44336;
}

/* Efek hover pada tombol */
.login-register-container input[type="submit"]:hover,
.login-register-container input[type="reset"]:hover {
    opacity: 0.9;
    background-color: var(--warna-4);
}

/* Pengaturan link untuk sign-up dan sign-in */
.sign-up-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-up-link a {
    color: #000;
    font-weight: 600;
}