/* ----- POPPINS FONT Link ----- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/* ----- VARIABLES ----- */
:root {
  --warna-1: black;
  --warna-2: white;
  --warna-3: #222831;
  --warna-4: #393E46;
  --warna-5: #00ADB5;


  /* Shadow and Hover Effects */
  --first-shadow-color: rgba(255,
      255,
      255,
      0.1);
  /* Shadow putih lembut untuk menambah kedalaman */
  --second-shadow-color: rgba(0,
      0,
      0,
      0.7);
  /* Shadow hitam pekat untuk mempertegas elemen visual */
}

/* ----- BASE ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}

/* ----- SMOOTH SCROLL ----- */
html {
  scroll-behavior: smooth;
}

/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 25px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

/* ---##-- REUSABLE CSS --##--- */

/* ----- GLOBAL BUTTON DESIGN ----- */
.btn {
  font-weight: 500;
  padding: 12px 20px;
  background: #efefef;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}

.btn>i {
  margin-left: 10px;
}

.btn:hover {
  background: var(--warna-5);
  color: var(--warna-2);
}

/* ----- GLOBAL ICONS DESIGN ----- */
i {
  font-size: 16px;
}

/* ------- BASE -------- */
body {
  --s: 120px;
  /* control the size*/

  --_g: radial-gradient(#0000 70%, #222831 61%);
  background:
    var(--_g), var(--_g) calc(var(--s)/2) calc(var(--s)/2),
    conic-gradient(#393E46 25%, #393E46 0 50%, #393E46 0 75%, #393E46 0);
  background-size: var(--s) var(--s);

}



.container {
  width: 100%;
  position: relative;

}

/* ----- NAVIGATION BAR ----- */
nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  line-height: 90px;
  background: var(--warna-3);
  padding-inline: 9vw;
  transition: 0.3s;
  z-index: 100;
}

.nav-logo {
  position: relative;
}

.nav-name {
  font-size: 30px;
  font-weight: 600;
  color: var(--warna-2);
}

.nav-logo span {
  position: absolute;
  top: -15px;
  right: -20px;
  font-size: 5em;
  color: var(--warna-5);

}

.nav-menu,
.nav_menu_list {
  display: flex;
}

.nav-menu .nav_list {
  list-style: none;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: var(--warna-5);
  font-weight: 500;
  padding-inline: 15px;
  margin-inline: 20px;
}

.nav-menu-btn {
  display: none;
}

.nav-menu-btn i {
  font-size: 28px;
  cursor: pointer;
}

.active-link {
  position: relative;
  color: var(--warna-5);
  transition: 0.3;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  background: var(--warna-5);
  border-radius: 50%;
}

/* ----- WRAPPER DESIGN ----- */
.wrapper {
  padding-inline: 10vw;
}

/* ----- FEATURED BOX ----- */
.featured-box {
  position: relative;
  display: flex;
  height: 100vh;
  min-height: 700px;
}

/* ----- FEATURED TEXT BOX ----- */
.featured-text {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 80vh;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
  margin-top: 10em;
}

.featured-text-card span {
  background: var(--warna-5);
  color: var(--warna-2);
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 5px;
}

.featured-name {
  font-size: 35px;
  font-weight: 600;
  color: var(--warna-2);
  margin-block: 20px;
}

.featured-name i {
  font-size: 40px;
}

.typedText {
  text-transform: capitalize;
  color: var(--warna-5);
}

.featured-text-info {
  font-size: 15px;
  margin-bottom: 30px;
  color: var(--warna-2);
  padding: 10px;
  backdrop-filter: blur(25px) saturate(99%);
  -webkit-backdrop-filter: blur(25px) saturate(99%);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

.featured-text-btn {
  display: flex;
  gap: 20px;
}

.featured-text-btn>.blue-btn {
  background: var(--warna-5);
  color: var(--warna-2);
}

.featured-text-btn>.blue-btn:hover {
  background: var(--warna-4);
}

.social_icons {
  display: flex;
  margin: 2em 0 5em 0;
  gap: 30px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  background-color: var(--warna-2);
}

.icon:hover {
  color: var(--warna-5);
}

/* ----- FEATURED IMAGE BOX ----- */
.featured-image {
  display: flex;
  justify-content: right;
  align-content: center;
  min-height: 80vh;
  width: 50%;
}

.image {
  margin: auto 0;
  width: 380px;
  height: 380px;
  border-radius: 55% 45% 55% 45%;
  overflow: hidden;
  animation: imgFloat 1s ease-in-out infinite;
}

.image img {
  width: 380px;
  height: 380px;
  object-fit: cover;
}

@keyframes imgFloat {
  50% {
    transform: translateY(10px);
    border-radius: 45% 55% 45% 55%;
  }
}

.scroll-btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  gap: 5px;
  text-decoration: none;
  color: var(--warna-5);
  background: var(--warna-2);
  border-radius: 30px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.scroll-btn i p {
  font-size: 20px;
  color: var(--warna-2);
}

/* ----- MAIN BOX ----- */
.section {
  padding-block: 5em;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}

.col {
  display: flex;
  width: 50%;
}

/* -- ## --- RESUABLE CSS -- ## -- */
.top-header {
  text-align: center;
  margin-bottom: 5em;
}

.top-header h1 {
  font-weight: 600;
  color: var(--warna-2);
  margin-bottom: 10px;
}

.top-header span {
  color: var(--warna-2);
}

h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--warna-5);
  margin-bottom: 15px;
}

h4 {
  font-size: 20px;
  font-weight: 600;
  color: var(--warna-2);
  margin-bottom: 15px;
}

/* ----- ABOUT INFO ----- */
.about-info {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 30px 70px;
  padding-inline: 20px;
  width: 100%;
  background: var(--warna-4);

  backdrop-filter: blur(25px) saturate(99%);
  -webkit-backdrop-filter: blur(25px) saturate(99%);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
  border: 1px solid rgba(209, 213, 219, 0.3);

}

.about-info p {
  text-align: center;
  font-size: 15px;
  color: var(--warna-2);

}

.about-btn button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: var(--warna-5);
  color: var(--warna-2);
  border-radius: 30px;
}

.about-btn button:hover {
  background: var(--warna-4);
}

/* ----- ABOUT / SKILLS BOX ----- */
.skills-box {
  margin: 10px;

}

.skills-header {
  margin-bottom: 30px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.skills-list span {
  font-size: 14px;
  background: var(--warna-5);
  color: var(--warna-2);
  padding: 2px 10px;
  border-radius: 5px;
}

/* ----- PROJECTS BOX ----- */
.project-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.project-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
  transition: 0.4s;
}

.project-box::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, #00ADB5, #00ADB5);
  height: 150%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
  z-index: 0;
  /* Pastikan ini berada di belakang konten utama */
}

.project-box::after {
  content: '';
  position: absolute;
  background: var(--warna-2);
  inset: 10px;
  border-radius: 15px;
  z-index: 1;
  transition: background-color 0.4s ease;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.project-box i {
  font-size: 50px;
  color: var(--warna-5);
  margin-bottom: 25px;
  transition: color 0.4s ease;
  z-index: 2;
}

.project-box h3 {
  font-size: 20px;
  color: var(--warna-5);
  margin-bottom: 5px;
  z-index: 2;
  transition: color 0.4s ease;
  padding: 0 10px;
  text-align: center;
}

.project-box label {
  font-size: 15px;
  color: #777;
  z-index: 2;
  transition: color 0.4s ease;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
}

.project-box:hover {
  box-shadow: 1px 8px 10px 2px var(--second-shadow-color);
  z-index: 3;
}

.project-box:hover::after {
  background-color: var(--warna-5);
  inset: 0;
  transform: scale(1.05);
}

.project-box:hover i,
.project-box:hover h3,
.project-box:hover label {
  color: var(--warna-2);
  /* Mengubah warna ikon, teks, dan label menjadi warna-2 */
  z-index: 2;
}



/* ----- Tutorial ----- */
.Tutorial-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.Tutorial-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  height: 250px;
  background: var(--warna-2);
  border-radius: 20px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
}

.Tutorial-box>i {
  font-size: 50px;
  color: #00b5e7;
  margin-bottom: 25px;
}

.Tutorial-box label {
  font-size: 15px;
  color: #777;
}

.Tutorial-box::after,
.contact-info::after {
  content: "";
  position: absolute;
  bottom: -100%;
  background: var(--warna-5);
  width: 100%;
  height: 100%;
  transition: 0.4s;
  z-index: 1;
}

.Tutorial-box:hover.Tutorial-box::after,
.contact-info:hover.contact-info::after {
  bottom: 0;
}

.Tutorial-box:hover.Tutorial-box i,
.Tutorial-box:hover.Tutorial-box>h3,
.Tutorial-box:hover.Tutorial-box>label {
  color: var(--warna-2);
  z-index: 2;
}

/* ----- CONTACT BOX ----- */

.contact-form {
  height: 600px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50px;
}

/* Nonaktifkan efek animasi */
.visme_d * {
  animation: none !important;
  transition: none !important;
}

.contact-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  height: 315px;
  background: var(--warna-5);
  border-radius: 10px;
  box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
  overflow: hidden;
}


.contact-info>h2 {
  color: var(--warna-2);
  margin-bottom: 20px;
}

.contact-info>p {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--warna-2);
  margin-block: 5px;
}

.contact-info p>i {
  font-size: 18px;
}

.contact-info::after {
  background: var(--warna-2);
}

.contact-info:hover.contact-info h2,
.contact-info:hover.contact-info p,
.contact-info:hover.contact-info i {
  color: #777;
  z-index: 2;
}

/* ----- CONTACT FORM ----- */
.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form-inputs {
  display: flex;
  gap: 10px;
  width: 100%;
}

.input-field {
  width: 50%;
  height: 55px;
  background: transparent;
  border: 2px solid #aaa;
  border-radius: 10px;
  padding-inline: 20px;
  outline: none;
}

textarea {
  width: 100%;
  height: 250px;
  background: transparent;
  border: 2px solid #aaa;
  border-radius: 10px;
  padding: 15px 20px;
  outline: none;
  resize: none;
}

.form-button>.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--warna-5);
  color: var(--warna-2);
}

.form-button>.btn:hover {
  background: #00b5e7;
}

.form-button i {
  font-size: 18px;
  rotate: -45deg;
}

/* ----- FOOTER BOX ----- */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  padding-block: 40px 60px;
  background-color: var(--warna-2);
}

.top-footer p {
  font-size: 25px;
  font-weight: 600;
}

.middle-footer .footer-menu {
  display: flex;
}

.footer_menu_list {
  list-style: none;
}

.footer_menu_list a {
  text-decoration: none;
  color: var(--warna-5);
  font-weight: 500;
  margin-inline: 20px;
}

.footer-social-icons {
  display: flex;
  gap: 30px;
}

.bottom-footer {
  font-size: 14px;
  margin-top: 10px;
}

.bagian-tutorial {
  margin: 0 50px;
  overflow-x: auto;
}

.bagian-tutorial h5 {
  font-size: 50px;
  color: var(--warna-2);
  text-align: center;
  margin: 30px 0;
  padding: 10px 0;
  background-color: var(--warna-5);
  border-radius: 0.5rem;
}

.tutorial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

}

.tutorial-box {
  background-color: var(--warna-5);
  /* Warna biru gelap mirip screenshot */
  color: var(--warna-2);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.tutorial-box code {
  background-color: var(--warna-2);
  padding: 2px 6px;
  border-radius: 4px;
  color: var(--warna-1);
}



.page-wrapper {
  width: 100%;
  /* Maksimal lebar halaman */
  margin: 0 auto;
  /* Memusatkan elemen */
  display: flex;
  flex-direction: column;
  gap: 30px;
  /* Jarak antar elemen */
}

.syntax-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 1rem;
  margin-bottom: 2rem;

}

.syntax-box {
  background-color: var(--warna-2);
  color: var(--warna-1);
  padding: 15px;
  border-radius: 10px;
  width: 90%;
  box-shadow: 0 9px 10px rgba(61, 101, 153, 0.371);
}



/* ----- MEDIA QUERY == 1024px / RESPONSIVE ----- */
@media only screen and (max-width: 1024px) {
  .featured-text {
    padding: 0;
  }

  .image,
  .image img {
    width: 320px;
    height: 320px;
  }
}

/* ----- MEDIA QUERY == 900px / RESPONSIVE ----- */
@media only screen and (max-width: 900px) {
  .nav-button {
    display: none;
  }

  .nav-menu.responsive {
    left: 0;
  }

  .nav-menu {
    position: fixed;
    top: 80px;
    left: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(20px);
    width: 100%;
    min-height: 450px;
    height: 90vh;
    transition: 0.3s;
  }

  .nav_menu_list {
    flex-direction: column;
  }

  .nav-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .featured-box {
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .featured-text {
    width: 100%;
    order: 2;
    justify-content: center;
    align-content: flex-start;
    min-height: 60vh;
  }

  .social_icons {
    margin-top: 2em;
  }

  .featured-image {
    order: 1;
    justify-content: center;
    min-height: 150px;
    width: 100%;
    margin-top: 65px;
  }

  .image,
  .image img {
    width: 150px;
    height: 150px;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
  }

  .col {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .about-info,
  .contact-info {
    width: 100%;
  }

  .project-container {
    justify-content: center;
  }

  .project-box,
  .Tutorial-box {
    width: 80%;
  }

  .tutorial-box {
    font-size: 14px;
    padding: 15px;
  }

  .scroll-btn {
    display: none;
  }
}

/* ----- MEDIA QUERY == 540px / RESPONSIVE ----- */

@media only screen and (max-width: 540px) {


  .featured-name {
    font-size: 25px;
  }

  .project-box,
  .Tutorial-box {
    width: 100%;
  }

  .form-inputs {
    flex-direction: column;
  }

  .input-field {
    width: 100%;
  }

  .tutorial-box {
    font-size: 12px;
    padding: 10px;
  }

  .scroll-btn {
    display: none;
  }

}